{% assign app = page.url | split: "/" | last %}

{% assign account_list = site.data.session.apps[app] %}

<!-- <div class="mdl-card__supporting-text">
    That’s an error, That’s all we know.
</div> -->

<!-- 
    // view/user/about_ext_link, view/apps/actor_list
    $sorted_oauth_actor_list = array();
    foreach ($oauth_actor_list as $a) $sorted_oauth_actor_list[  $a['app'].'.'.$a['oauth_id'].'.'.$a['kind'].'.'.$a['actor_id'] ] = $a;
    ksort($sorted_oauth_actor_list);
-->

{% for actor_list in account_list %}
<div class="mdl-card__supporting-text">
    #{{ actor_list.oauth }}
</div>

<ul class="demo-list-two mdl-list">
    {% for actor in actor_list.actors %}
    

    {% assign sub_title = actor.id %}
    {% if actor.url %}
    {% assign sub_title = actor.url | remove: "https://www." %}
    {% endif %}

    <li class="mdl-list__item mdl-list__item--two-line">
        <span class="mdl-list__item-primary-content">
            <!-- <i class="material-icons mdl-list__item-avatar">person</i> -->
            <img class="mdl-list__item-avatar bg-cover" style="background-image: url(/assets/third-party/material.io/face.png)" width="40px" height="40px" src="{{ actor.img }}">

            <span>{{ actor.name }}</span>

            <span class="mdl-list__item-sub-title dont-break-out">
                {{ sub_title }}
            </span>
        </span>
        <span class="mdl-list__item-secondary-content">
            {% if actor.user == nil %}
            <a class="mdl-cell--hide-desktop mdl-list__item-secondary-action mdl-button mdl-button--icon mdl-button--accent mdl-js-button mdl-js-ripple-effect" href="/action/actor/add/{{ actor.id }}?redirect=apps/add/{{ app }}">
                <i class="material-icons">add</i>
            </a>
            <a class="mdl-cell--hide-tablet mdl-cell--hide-phone mdl-list__item-secondary-action mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="/action/actor/add/{{ actor.id }}?redirect=apps/add/{{ app }}">
                Connect
            </a>
            {% else %}
            
            {% if actor.user == site.data.session.username %}
            
                {% if actor.status == 400 %}
                <span class="mdl-list__item-secondary-info">
                    Error: {{ actor.status }}
                </span>
                {% else %}
                <time class="mdl-list__item-secondary-info dateDisplay" datetime="{{ site.time | date: "%Y%m%d" }}"></time>
                {% endif %}

                <a class="mdl-list__item-secondary-action dialog-button mdl-button mdl-js-button mdl-color-text--primary mdl-button--icon"
                    href="#"
                    data-actor-id="{{ actor.id }}"
                    data-app="{{ app }}"
                    data-actor="{{ actor.name }}">
                    <i class="material-icons">delete</i>
                </a>
            {% else %}
            <span class="mdl-list__item-secondary-info">
                {{ actor.user }}
            </span>

            <a class="mdl-list__item-secondary-action mdl-button mdl-js-button mdl-button--icon" href="/@{{ actor.user }}" target="_blank">
                <i class="material-icons">rss_feed</i>
            </a>
            {% endif %}

            {% endif %}

        </span>
    </li>
    {% endfor %}
</ul>
{% endfor %}

{% include js/moment.html %}