<!-- Dynamic Modal  -->
<!--
<button class="mdl-button mdl-button--raised mdl-js-button dialog-button" data-actor-id="123" data-app="youtube" data-actor="Full Name">Show Dialog</button>
<button class="mdl-button mdl-button--raised mdl-js-button dialog-button" data-actor-id="222" data-app="youtube222" data-actor="Full Name222">Show Dialog2</button>
-->

<dialog id="dialog" class="mdl-dialog">
    <h1 class="mdl-dialog__title mdl-typography--font-light mdl-color-text--grey-600">Unlink Account</h1>
    <div class="mdl-dialog__content">
        <p>
            Are you sure, you want to unlink the following account?<br>
            <strong></strong> <span></span>
        </p>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent close">Cancel</button>
        <a class="unlink mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary" href="#">
            <i class="material-icons">delete</i>
        </a>
    </div>
</dialog>

<script type="text/javascript">
    (function() {
        'use strict';
        var dialogButtons = document.querySelectorAll('.dialog-button');
        var dialog = document.querySelector('#dialog');
        if (! dialog.showModal) {
            dialogPolyfill.registerDialog(dialog);
        }

        dialogButtons.forEach(function(dialogButton) {
            // console.log(dialogButton);
            dialogButton.addEventListener('click', function() {

                var jq_dialogButton = $(this)

                var actor_id = jq_dialogButton.data('actor-id') // Extract info from data-* attributes
                var actor = jq_dialogButton.data('actor') // Extract info from data-* attributes
                var app = jq_dialogButton.data('app') // Extract info from data-* attributes

                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var jq_dialog = $(dialog)
                jq_dialog.find('p strong').text(app)
                jq_dialog.find('p span').text(actor)
                jq_dialog.find('a.unlink').attr("href", "{{ site.url }}/action/actor/remove/" + app + "/" + actor_id + "?redirect=apps/add/" + app)

                dialog.showModal();
            });
        });
        
        dialog.querySelector('button.close')
            .addEventListener('click', function() {
                dialog.close();
        });
    }());
</script>