<script type="text/javascript">
    $('.apps-popup').click(function(e) {
        var $this = $(this)
        if ($this.is('a')) e.preventDefault();

        var $btn = $this;

        var oAuthURL = $btn.attr('href');
        console.log("Opening window: " + oAuthURL);
        win = window.open(oAuthURL, '_blank', 'modal=yes,alwaysRaised=yes,width=800,height=450');

        checkConnect = setInterval(function() {
            if (!win || !win.closed) return;
            clearInterval(checkConnect);
            window.location.reload();
        }, 100);
    });
</script>