<style>
	df-messenger {
		--df-messenger-bot-message: #da2e75;
		--df-messenger-button-titlebar-color: #da2e75;
		--df-messenger-chat-background-color: white;
		--df-messenger-font-color: #da2e75;
		--df-messenger-send-icon: white;
		--df-messenger-user-message: #2b2b2b;
		}
</style>

<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
    intent="WELCOME"
    chat-title="Arya"
    agent-id="f1cb77a8-d61a-47ee-9094-f4bfb7e6665b"
    chat-icon="assets/images/favicon_64.png"
    language-code="en"
></df-messenger>
