
<script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>

<!-- <script src="https://twemoji.maxcdn.com/twemoji.min.js"></script> -->
<script type="text/javascript">
    function emojifyText (btns) {
        btns.each(function (i, o) {
            var string = $(o).html();
            // console.log(string);
            
            var emojified = twemoji.parse(string);
            // console.log(emojified);

            $(o).html(emojified);

            $(o).removeClass('emojify');
        })
    }
</script>

<script type="text/javascript">
    function emojifyInit() { emojifyText($('.emojify')) }
    $(function() { emojifyInit() });
</script>