<!-- Typed.js -->
<!-- https://mattboldt.github.io/typed.js/ -->

<script src="{{ site.url }}/assets/third-party/mattboldt-typed.js-1.1.4/dist/typed.min.js"></script>

<!-- https://owlcation.com/humanities/How-to-say-Hello-in-100-languages -->
<script>
    $(function(){
        $("#typed-element-username").typed({
            strings: [
                "Hello {{ site.data.logged_in_user.username }}",
                "Hola {{ site.data.logged_in_user.username }}",
                "Mambo {{ site.data.logged_in_user.username }}",
                "Boke {{ site.data.logged_in_user.username }}",
                "Hoi {{ site.data.logged_in_user.username }}",
                "Kem che {{ site.data.logged_in_user.username }}",
                "Namaste {{ site.data.logged_in_user.username }}",
                "Ciào {{ site.data.logged_in_user.username }}",
                "Konnichi wa {{ site.data.logged_in_user.username }}",
                "Kwe kwe {{ site.data.logged_in_user.username }}",
                "Moin moin {{ site.data.logged_in_user.username }}",
                "Hei {{ site.data.logged_in_user.username }}",
                "Salaam {{ site.data.logged_in_user.username }}",
                "Oi {{ site.data.logged_in_user.username }}",
                "Hej {{ site.data.logged_in_user.username }}",
                "Bondia {{ site.data.logged_in_user.username }}",
                "Sawa dee-ka {{ site.data.logged_in_user.username }}",
            ],
            typeSpeed:  0,
            cursorChar: '_',
            shuffle:    true,
            // loop:       false,
            backDelay:  10000,
        });
    });
</script>

<script>
    $(function(){
        $("#typed-element-hello").typed({
            strings: [
                "I'm Aryá",
                "আমি আর্য",
                "में आर्य",
            ],
            typeSpeed: 75,
            backSpeed:  25,
            backDelay:  1000,
            loop:       true,
        });
    });
</script>

<script>
    $(function(){
        $("#typed-element-arya").typed({
            strings: ["Aryá", "आर्या", "আর্য"],
            // strings: ["Rhyme", "rʌɪm", "Rime"],
            typeSpeed:  75,
            backSpeed:  25,
            backDelay:  2000,
            loop:       true,
            // showCursor: false
        });
    });
</script>

<script>
    $(function(){
        $("#typed-element-intro").typed({
        strings: [
            "{{ site.data.intro[ index ].message }}",
        ],
        typeSpeed: 75
        });
    });
</script>