<!-- Typed.js -->

<script src="{{ site.url }}/assets/third-party/mattboldt-typed.js-1.1.4/dist/typed.min.js"></script>

<script>
    $(function(){
        $("#typed-element-username").typed({
            strings: [
                "Hello {{ site.data.logged_in_user.username }}",
            ],
            typeSpeed: 75,
            loop:       false
        });
    });
</script>

<script>
    $(function(){
        $("#typed-element-hello").typed({
            strings: [
                "I'm Aryá",
                "আমি আর্য",
                "में आर्य",
            ],
            typeSpeed: 75,
            backSpeed:  25,
            backDelay:  1000,
            loop:       true,
        });
    });
</script>

<script>
    $(function(){
        $("#typed-element-arya").typed({
            strings: ["Aryá", "आर्या", "আর্য"],
            // strings: ["Rhyme", "rʌɪm", "Rime"],
            typeSpeed:  75,
            backSpeed:  25,
            backDelay:  2000,
            loop:       true,
            // showCursor: false
        });
    });
</script>

<script>
    $(function(){
        $("#typed-element-intro").typed({
        strings: [
            "{{ site.data.intro[ index ].message }}",
        ],
        typeSpeed: 75
        });
    });
</script>