<!-- html5 tag - not supported in Internet Explorer 9 and earlier versions.
- placeholder
- type
- autocomplete -->

{% assign label = "Number" %}

{% if include.lable %}
{% assign label = include.label %}
{% endif %}

{% if include.id == "domain" %}
{% assign form_error = "The domain is already registered!" %}
{% assign is_invalid = true %}
{% endif %}

<!-- Numeric Textfield with Floating Label -->
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label {% if is_invalid %}is-invalid{% endif %}">

    <input class="mdl-textfield__input" type="text" id="sample4" value="{{ include.value }}">
    <label id="{{ include.id }}" class="mdl-textfield__label" for="sample4">{{ include.label }}</label>


    {% if is_invalid %}
    <span class="mdl-textfield__error">{{ form_error }}</span>
    {% endif %}
</div>
