
<!-- (/¯◡ ‿ ◡)/¯ ~ ┻━┻ -->

{% include js/emojify.html %}

<div class="hidden"><a href="https://plus.google.com/100291956524624075969" rel="publisher">Google+</a></div>

<script src="{{ site.baseurl }}/assets/third-party/mattboldt-typed.js-1.1.4/dist/typed.min.js"></script>
<script>
  $(function(){
      $("#typed-element").typed({
        strings: ["Arya", "आर्या", "ārya", "আর্য"],
        typeSpeed:  75,
        backSpeed:  25,
        backDelay:  1000,
        loop:       true,
      });
  });
</script>
