<footer class="mdl-mega-footer">
    <div class="mdl-mega-footer__middle-section">

        {% for footer in site.data.footer %}
        <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer__heading">{{ footer.h1 }}</h1>
            
            <ul class="mdl-mega-footer__link-list">
            {% assign list = footer.list %}
            {% for link in list  %}
            {% if link.attr %}
            <li><a href="{{ link.href }}" {{ link.attr }}>{{ link.name }}</a></li>
            {% else %}
            <li><a href="/{{ link.href }}">{{ link.name }}</a></li>
            {% endif %}
            {% endfor  %}
            </ul>
            
        </div>
        {% endfor %}

    </div>

    <div class="mdl-mega-footer__bottom-section">
        <div class="mdl-logo">{{ site.title }}</div>
        <ul class="mdl-mega-footer__link-list">
            <li><a href="/support">Help</a></li>
            <li><a href="/legal/terms">Terms</a></li>
            <li><a href="/legal/privacy">Privacy</a></li>
        </ul>
    </div>

</footer>

{% include scripts.html %}