{% include js/chatbot.html %}

<!-- Uses a header that contracts as the page scrolls down. -->

<header class="mdl-layout__header mdl-layout__header--transparent mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">
            <!-- Rime -->
            <a href="{{ site.url }}">
                <img src="/assets/images/logotype.svg" height=25 alt="Rime">
            </a>
        </span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">

            {% for nav in site.data.header %}
            <a class="mdl-navigation__link" href="{{ nav.url }}">
                {{ nav.title }}
            </a>
            {% endfor %}
            
        </nav>
        <!-- Navigation -->
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/auth/sign-in"> 
                <span class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                    Sign in
                </span>
            </a>
        </nav>
    </div>
</header>
<div class="mdl-layout__drawer mdl-color--white mdl-layout--small-screen-only">
    <!-- <span class="mdl-layout-title">Rime</span> -->
    <span class="mdl-layout-title">
        <!-- Rime -->
        <img src="/assets/images/logotype.svg" height=25 alt="Rime">
    </span>

    <nav class="mdl-navigation">

        {% for nav in site.data.header %}
            <a class="mdl-navigation__link" href="{{ nav.url }}">
                {{ nav.title }}
            </a>
        {% endfor %}

        <a class="mdl-navigation__link" href="/intro/why"> 
            <span class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent center-block">
                Get Started
            </span>
        </a>
        
    </nav>
</div>
