<nav class="mdl-navigation">
    <a class="mdl-navigation__link mdl-layout--large-screen-only" href="{{ site.url }}/explore">
        Explore
    </a>
    <a class="mdl-navigation__link mdl-layout--large-screen-only" href="{{ site.url }}/people">
        <!-- Number badge -->
        <span class="mdl-badge" data-badge="4">Inbox</span>
    </a>
    <a class="mdl-navigation__link mdl-layout--large-screen-only" href="{{ site.url }}/settings">
        Settings
    </a>

    <a id="explore" class="mdl-navigation__link mdl-layout--small-screen-only" href="{{ site.url }}/explore">
        <i class="material-icons">explore</i>
    </a>
    <a id="inbox" class="mdl-navigation__link mdl-layout--small-screen-only" href="{{ site.url }}/people">
        <!-- Number badge on icon -->
        <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="4">inbox</div>
    </a>
    <a id="settings" class="mdl-navigation__link mdl-layout--small-screen-only" href="{{ site.url }}/settings">
        <i class="material-icons">settings</i>
    </a>

    <a id="username" class="mdl-navigation__link" href="/@{{ site.data.logged_in_user.username }}">
        <img class="bg-cover img-circle"
            style="background-image: url({{ site.url }}/{{ site.data.logged_in_user.avatar }})"
            height="39px"
            src="{{ site.url }}/assets/images/blank.png"
            alt="{{ site.data.logged_in_user.username }}">
    </a>

    <!-- <a id="exit_to_app" class="mdl-navigation__link" href="{{ site.url }}/auth/sign-out">
        <i class="material-icons">exit_to_app</i>
    </a> -->
</nav>