{% if page.url == '/dashboard' %}
{% assign dashboard = 1 %}
{% endif %}

{% if page.url == '/settings' %}
{% assign settings = 1 %}
{% endif %}

{% assign slice = page.url | slice: 0, 2  %}
{% if slice == '/@' %}
{% assign user = 1 %}
{% endif %}

<nav class="mdl-navigation">
    
    <!-- Settings / Sign out -->

    {% if settings %}
    <a id="exit_to_app" class="mdl-navigation__link" href="{{ site.url }}/auth/sign-out">
        <i class="material-icons">exit_to_app</i>
    </a>
    {% else %}

    <!-- Explore -->

    {% if dashboard %}
    <a id="explore" class="mdl-navigation__link" href="{{ site.url }}/explore">
        <i class="material-icons">explore</i>
    </a>
    {% endif %}

    <!-- Inbox -->

    <a id="inbox" class="mdl-navigation__link" href="{{ site.url }}/people">
        <!-- Number badge on icon -->
        <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="4">inbox</div>
    </a>

    <!-- Profile | Settings -->
    {% if user %}
    <a id="settings" class="mdl-navigation__link" href="{{ site.url }}/settings">
        <i class="material-icons">settings</i>
    </a>
    {% else %}
    <a id="username" class="mdl-navigation__link" href="/@{{ site.data.session.username }}">
        <img class="bg-cover img-circle"
            style="background-image: url({{ site.url }}/{{ site.data.session.avatar }})"
            height="39px"
            src="{{ site.url }}/assets/images/blank.png"
            alt="{{ site.data.session.username }}">
    </a>
    {% endif %}

    {% endif %}
</nav>