<div class="mdl-tooltip mdl-tooltip--large" for="explore">Explore</div>
<div class="mdl-tooltip mdl-tooltip--large" for="inbox">Inbox</div>
<div class="mdl-tooltip mdl-tooltip--large" for="settings">Settings</div>
<div class="mdl-tooltip mdl-tooltip--large" for="username">@{{ site.data.session.username }}</div>
<div class="mdl-tooltip mdl-tooltip--large" for="exit_to_app">Exit</div>
<div class="mdl-tooltip mdl-tooltip--large" for="delete_forever">Remove</div>
<div class="mdl-tooltip mdl-tooltip--large" for="playlist_add">Create a new website</div>
<div class="mdl-tooltip mdl-tooltip--large" for="mark_chat_unread">View all unread</div>
<div class="mdl-tooltip mdl-tooltip--large" for="sync">{{ site.github.build_revision | truncate: 7, "" }}</div>

{% assign min_invites = site.data.invites.min %}
<div class="mdl-tooltip mdl-tooltip--large" for="email">To add more than one app invite at least {{ min_invites }} people.</div>