
<!--

    

    (/¯◡ ‿ ◡)/¯  ~~~ ~~~ ~~~  ┻━┻ ~~~ JavaScripts ~~~

-->
<style>
		  df-messenger {
		   --df-messenger-bot-message: #fed136;
		   --df-messenger-button-titlebar-color: #fed136;
		   --df-messenger-chat-background-color: white;
		   --df-messenger-font-color: white;
		   --df-messenger-send-icon: #fed136;
		   --df-messenger-user-message: #2b2b2b;
		  }
</style>

{% include js/emojify.html %}

{% include js/typed.html %}

<script>
function goBack() { window.history.back(); }
</script>

 <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
				      <df-messenger
                            intent="WELCOME"
                            chat-title="Arya"
                            agent-id="f1cb77a8-d61a-47ee-9094-f4bfb7e6665b"
                            chat-icon="images/Arya.png"
                            language-code="en"
				      ></df-messenger>
