{% assign social = site.data.logged_in_user.social[0] %}
{% assign actor_list = social.actors %}

{% if actor_list.size == 0 %}
<div class="mdl-card__supporting-text">
    That’s an error, That’s all we know.
</div>
{% else %}
<!-- 

    // view/user/about_ext_link, view/services/actor_list
    $sorted_oauth_actor_list = array();
    foreach ($oauth_actor_list as $a) $sorted_oauth_actor_list[  $a['service'].'.'.$a['oauth_id'].'.'.$a['kind'].'.'.$a['actor_id'] ] = $a;
    ksort($sorted_oauth_actor_list);
 -->

<ul class="demo-list-three mdl-list">
    {% for actor in actor_list %}
    

    {% assign sub_title = actor.id %}
    {% if actor.url %}
    {% assign sub_title = actor.url | remove: "https://www." %}
    {% endif %}

    <li class="mdl-list__item mdl-list__item--two-line">
        <span class="mdl-list__item-primary-content">
            <!-- <i class="material-icons mdl-list__item-avatar">person</i> -->
            <img class="mdl-list__item-avatar bg-cover" style="background-image: url({{ site.url }}/assets/third-party/material.io/face.png)" width="40px" height="40px" src="{{ site.url }}/{{ actor.img }}">

            <span>{{ actor.name }}</span>

            <span class="mdl-list__item-sub-title dont-break-out">
                {{ sub_title }}
            </span>
        </span>
        <span class="mdl-list__item-secondary-content">
            {% if actor.login == nil %}
            <a class="mdl-list__item-secondary-action mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="{{ site.url }}/action/actor/add/{{ actor.id }}?redirect=services/add">
                <!-- <i class="material-icons">add</i> -->
                Connect
            </a>
            {% else %}
            
            {% if actor.login == site.data.logged_in_user.username %}
            
                {% if actor.status == 400 %}
                <span class="mdl-list__item-secondary-info">
                    Error: {{ actor.status }}
                </span>
                {% else %}
                <time class="mdl-list__item-secondary-info dateDisplay" datetime="{{ actor.sync | date: "%Y%m%d" }}"></time>
                {% endif %}

                <a class="mdl-list__item-secondary-action dialog-button mdl-button mdl-js-button mdl-color-text--primary mdl-button--icon"
                    href="#"
                    data-actor-id="{{ actor.id }}"
                    data-service-name="{{ social.app }}"
                    data-actor-name="{{ actor.name }}">
                    <i class="material-icons">delete</i>
                </a>
            {% else %}
            <span class="mdl-list__item-secondary-info">
                {{ actor.login }}
            </span>

            <a class="mdl-list__item-secondary-action mdl-button mdl-js-button mdl-button--icon" href="{{ site.url }}/users/{{ actor.login }}" target="_blank">
                <i class="material-icons">rss_feed</i>
            </a>
            {% endif %}

            {% endif %}

        </span>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% include js/moment.html %}