<div class="mdl-card__supporting-text">

    {% for app in site.data.apps %}
    {% if app.sign-in %}
    <button 
    class="apps-popup mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" 
    href="/action/apps/add/{{ app.name | downcase }}">
        <i class="icon icon-lg {{ app.kind[0].icon }}"></i>
        <!-- {{ app.name }} -->
    </button>
    &nbsp;
    {% endif %}
    {% endfor %}

    <br>
    <br>
    <p>
    <!-- <br> -->
    <!-- Sign up with Facebook, Google or LinkedIn and let our AI do the work. -->
    To use Rime you must have cookies enabled.
    <br>
    <br>
    For more info, please see Login FAQ.
    If you have any issue regarding signing in, report us <a href="mailto:support@{{ site.url | remove: "https://"  | remove: "http://" }}?subject=Sign up Issue">support@{{ site.url | remove: "https://"  | remove: "http://" }}</a><br>
    </p>
</div>

<div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="/support/faq">
        FAQ
    </a>
    <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored pull-right" href="/auth/demo">
        <i id="vpn_key" class="material-icons mdl-color-text--grey-200--" tabindex="0">vpn_key</i>
    </a>
</div>

{% include apps/popup.html %}
<!-- {% include js/login.html %} -->