---
layout: default
---

<div class="demo-layout-page-about mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-color--grey-200">
    <header class="mdl-layout__header mdl-layout__header--waterfall mdl-color--white">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">
                <a href="/">
                    <img src="/assets/images/logotype.svg" height=25 alt="Rime">
                </a>
            </span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="/about">
                    Our Company
                </a>
                <a class="mdl-navigation__link" href="/about/us">
                    Our Story
                </a>
            </nav>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                
                {% if site.data.session %}
                <a class="mdl-navigation__link" href="/@{{ site.data.session.username }}">
                    <img class="bg-cover img-circle"
                        style="background-image: url({{ site.data.session.avatar }})"
                        height="39px"
                        src="/assets/images/blank.png"
                        alt="{{ site.data.session.username }}">
                </a>
                {% else %}
                <a class="mdl-navigation__link" href="/auth/sign-in">
                    <span class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        Sign in
                    </span>
                </a>
                {% endif %}

            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer mdl-color--white mdl-layout--small-screen-only">
        <!-- <span class="mdl-layout-title">Rime</span> -->
        <span class="mdl-layout-title">
            <!-- Rime -->
            <a href="/">
                <img src="/assets/images/logotype.svg" height=25 alt="Rime">
            </a>
        </span>

        <nav class="mdl-navigation">

            <a class="mdl-navigation__link" href="/about">
                Our Company
            </a>
            <a class="mdl-navigation__link" href="/about/us">
                Our Story
            </a>
            
        </nav>
    </div>
    
    <main class="mdl-layout__content">
        <div class="page-content">

            <!-- Your content goes here -->
            {{ content }}
            
        </div>

        {% include footer.html %}
    </main>
</div>
