---
layout: default
---

<div class="demo-layout-page mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-color--grey-200">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--grey-200">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">
                <a href="{{ site.baseurl }}/">
                    <img src="{{ site.baseurl }}/assets/images/logotype.svg" height=25 alt="Rime">
                </a>
            </span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                
                {% if site.data.logged_in_user %}
                <a class="mdl-navigation__link" href="{{ site.baseurl }}/user">
                    <img class="bg-cover img-circle"
                        style="background-image: url({{ site.baseurl }}/{{ site.data.logged_in_user.avatar }})"
                        height="39px"
                        src="{{ site.baseurl }}/assets/images/blank.png"
                        alt="{{ site.data.logged_in_user.username }}">
                </a>
                {% else %}
                <a class="mdl-navigation__link" href="{{ site.baseurl }}/auth/sign-in" style="padding-right: 0;">
                    <span class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        Sign in
                    </span>
                </a>
                {% endif %}
                
            </nav>
        </div>
    </header>
    
    <main class="mdl-layout__content">
        <div class="page-content">

            <!-- Your content goes here -->

            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--2-offset-desktop mdl-cell--8-col-desktop mdl-cell--1-offset-tablet mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                    {{content}}
                </div>
            </div>
        </div>

        {% include footer.html %}
    </main>
</div>
