<!doctype html>

<!--
         _ .....Hit me I dare you......ya ya ya....
        / \
    __/    \_
   /_  -  \  \                      ,:',:`,:' ........Oh yeah, yes you...HA!
  / / /     \ \                  __||_||_||_||___
 |    |     / |             ____[""""""""""""""""]___
 /   /     \   \            \ " '''''''''''''''''''' \
 ~~^~^~HZ~~^~^~^~~^~^~^~~jgs~^~^~^^~^~^~^~^~^~^~^~~^~^~^~^~~^~^

                  _
                 / \ ......See, I told you.....
             __/    \_
            /_  -  \  \                   ____  ..... Oh, heck...gulp..glub..
           / / /     \ \            ,' ._|    \
          |   |     /  |            :__: :    |
         /   /      \   \            --: :    |\o
~~^~~^~~~~^^~^~^~^~^~^~~~^~~^~HZ~~^~^~~~^~^~^^~~~~^~^~^~~^^^~^^^
         _____ _           
        | __  |_|_____ ___ 
        |    -| |     | -_|
        |__|__|_|_|_|_|___|

-- http://ascii.co.uk/art/titanic


Build Revision: {{site.github.build_revision}}
Build Info:
    - Build time: {{site.time | date_to_rfc822}}
    - Unix build time: {{site.time | date:"%s"}}

-->

<html>
    
    {% include head.html %}

    <body>

        {{ content }}
        {% include js/google_analytics.html %}

    </body>
</html>