<!doctype html>
<!--


         _ 
        / \.....HIT ME I DARE YOU......YA YA YA....
    __/    \_
   /_  -  \  \                      ,:',:`,:' ........OH YEAH, YES YOU...HA!
  / / /     \ \                  __||_||_||_||___
 |    |     / |             ____[""""""""""""""""]___
 /   /     \   \            \ " '''''''''''''''''''' \
 ~~^~^~HZ~~^~^~^~~^~^~^~~jgs~^~^~^^~^~^~^~^~^~^~^~~^~^~^~^~~^~^

                  _
                 / \ ......SEE, I TOLD YOU.....
             __/    \_
            /_  -  \  \                   ____  .....OH, HECK...GULP..GLUB..
           / / /     \ \            ,' ._|    \
          |   |     /  |            :__: :    |
         /   /      \   \            --: :    |\o
~~^~~^~~~~^^~^~^~^~^~^~~~^~~^~HZ~~^~^~~~^~^~^^~~~~^~^~^~~^^^~^^^




     _____ _           
    | __  |_|_____ ___ 
    |    -| |     | -_|
    |__|__|_|_|_|_|___|    

    Build Revision: {{ site.github.build_revision }} 
                    {{ site.baseurl }}/site.github.json
    Build Info:
        - Build time: {{ site.time | date_to_rfc822 }}
        - Unix build time: {{ site.time | date:"%s" }}
    
    
    TITANIC - ASCII ART : Scenery by Howard Zivotofsky (HZ) 
    https://ascii.co.uk/art/titanic 
    

-->
<html>
    
    {% include head.html %}

    <body class="emojify">
        {{ content }}
        {% include scripts.html %}
    </body>

</html>