---
layout: default
---

<div class="demo-layout-service mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-color--grey-200">
    <header class="mdl-layout__header mdl-color--white">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">{{ page.title }}</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            {% include nav.html %}
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">
            <!-- Title -->
            <a href="{{ site.url }}">
                <img src="/assets/images/logotype.svg" height=25 alt="Rime">
            </a>
        </span>
        <nav class="mdl-navigation">
            {% for nav in site.data.nav_links %}
            <a class="mdl-navigation__link" href="{{ site.url }}{{ nav.url }}">

                {% if nav.badge == nil %}
                {{ nav.title }}
                {% else %}
                <span class="mdl-badge" data-badge="{{ nav.badge }}">{{ nav.title }}</span>
                {% endif %}

            </a>
            {% endfor %}
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">

            <!-- Your content goes here -->

            <div class="mdl-grid">
                <div class="demo-card-square mdl-card mdl-cell mdl-cell--4-offset-desktop mdl-cell--4-col-desktop mdl-cell--1-offset-tablet mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                    {{ content }}
                </div>
            </div>
        </div>
        
        {% include settings/alert.html %}
        {% include inbox/dialog.html %}
    </main>
</div>

{% include nav_tooltips.html %}
<div class="mdl-tooltip mdl-tooltip--large" for="preview">Preview</div>