---
layout: default
---

<div class="demo-layout-service mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-color--grey-200">
    <header class="mdl-layout__header mdl-color--white">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">{{ page.title }}</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            {% include nav.html %}
        </div>
    </header>
    
    {% include nav_drawer.html %}
    
    <main class="mdl-layout__content">
        <div class="page-content">

            <!-- Your content goes here -->

            <div class="mdl-grid">
                <div class="demo-card-square mdl-card mdl-cell mdl-cell--4-offset-desktop mdl-cell--4-col-desktop mdl-cell--1-offset-tablet mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                    {{ content }}
                </div>
            </div>
        </div>
        
        {% include settings/alert.html %}
        {% include inbox/dialog.html %}
    </main>
</div>

{% include scripts.html %}

{% include nav_tooltips.html %}