---
layout: default
---

{% assign counter = 0 %}
{% assign index = 0 %}
{% for i in site.data.intro %}
    {% if page.url == i.url %}
        {% assign index = counter %}
    {% endif %}
    {% assign counter = counter | plus: 1 %}
{% endfor %}

{% assign percent = index | times: 100 | divided_by: 3 %}
{% assign intro = site.data.intro[ index ] %}

<div class="demo-layout-intro mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll-- mdl-layout__header--transparent">
        
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">
                <a href="{{ site.url }}/">
                    <img src="{{ site.url }}/assets/images/logotype.svg" height=25 alt="Rime">
                </a>
            </span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="{{ site.url }}/{{ intro.next }} ">

                    
                    {% assign icon = "arrow_forward" %}
                    {% if stage == 2 %}
                    {% assign icon = "vpn_key" %}
                    {% endif %}

                    <i id="{{ icon }}" class="material-icons mdl-color-text--grey-200--">{{ icon }}</i>
                </a>
            </nav>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="page-content">

            <!-- Your content goes here -->
            <div class="mdl-grid">

                <style type="text/css">
                    .demo-card-square > .mdl-card__title {
                        background:
                            url('{{ site.url }}/assets/images/intro-0{{ index }}.png') center / cover;
                    }
                </style>

                <div class="demo-card-square mdl-card mdl-cell mdl-cell--4-offset-desktop mdl-cell--4-col-desktop mdl-cell--1-offset-tablet mdl-cell--6-col-tablet mdl-cell--4-col-phone">

                    <div class="mdl-card__title mdl-card--expand">
                        <!-- <div id="p11" class="mdl-progress mdl-js-progress"></div> -->
                        <!-- <h2 class="mdl-card__title-text">Welcome</h2> -->
                    </div>
                    <div id="p1" class="mdl-progress mdl-js-progress"></div>
                    <div class="mdl-card__supporting-text">
                        <p style="min-height: 100px;">
                            <b>Arya</b> <br>
                            <span id="typed-element-intro"></span>
                        </p>
                    </div>
                    
                    <div class="mdl-card__actions mdl-card--border-">
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="{{ site.url }}/{{ intro.next }}">
                            {{ intro.action }}
                        </a>

                        <!-- <div class="mdl-layout-spacer"></div> -->
                        <!-- <i class="material-icons">event</i> -->

                        {% if index == "2" %}
                            <a href="mailto:founders@{{ site.url | remove: "https://"  | remove: "http://" }}?subject=Request a Demo" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored pull-right">
                                Request a Demo
                            </a>
                        {% endif %}

                    </div>

                </div>
            </div>
        </div>
    </main>
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="arrow_forward">Next</div>
<div class="mdl-tooltip mdl-tooltip--large" for="vpn_key">Authenticate</div>

{% include scripts.html %}

<script>
    document.querySelector('#p1').addEventListener('mdl-componentupgraded', function() {
        this.MaterialProgress.setProgress( {{ percent }} );
        this.MaterialProgress.setBuffer( {{percent}} );
    });
</script>