---
layout: default
---

<div class="demo-layout-service mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-color--grey-200">
    <header class="mdl-layout__header mdl-color--white">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">{{ page.title }}</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <!-- Navigation -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link mdl-layout--large-screen-only" href="{{ site.url }}/people">
                    <!-- Number badge -->
                    <span class="mdl-badge" data-badge="4">Inbox</span>
                </a>
                <a class="mdl-navigation__link mdl-layout--large-screen-only" href="{{ site.url }}/settings">
                    Settings
                </a>

                <a id="inbox" class="mdl-navigation__link mdl-layout--small-screen-only" href="{{ site.url }}/people">
                    <!-- Number badge on icon -->
                    <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="4">inbox</div>
                </a>
                <a id="settings" class="mdl-navigation__link mdl-layout--small-screen-only" href="{{ site.url }}/settings">
                    <i class="material-icons">settings</i>
                </a>

                <a class="mdl-navigation__link" href="/@{{ site.data.logged_in_user.username }}">
                    <img class="bg-cover img-circle"
                        style="background-image: url({{ site.url }}/{{ site.data.logged_in_user.avatar }})"
                        height="39px"
                        src="{{ site.url }}/assets/images/blank.png"
                        alt="{{ site.data.logged_in_user.username }}">
                </a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">
            <!-- Title -->
            <a href="{{ site.url }}">
                <img src="{{ site.url }}/assets/images/logotype.svg" height=25 alt="Rime">
            </a>
        </span>
        <nav class="mdl-navigation">
            {% for nav in site.data.nav_links %}
            <a class="mdl-navigation__link" href="{{ site.url }}{{ nav.url }}">

                {% if nav.badge == nil %}
                {{ nav.title }}
                {% else %}
                <span class="mdl-badge" data-badge="{{ nav.badge }}">{{ nav.title }}</span>
                {% endif %}

            </a>
            {% endfor %}
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">

            <!-- Your content goes here -->

            <div class="mdl-grid">

                <div class="mdl-cell mdl-cell--1-offset-desktop mdl-cell--4-col-desktop mdl-cell--1-offset-tablet mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                    <h1 class="mdl-typography--font-light mdl-color-text--grey-600">Connect</h1>

                    <p class="mdl-color-text--grey-600">
                        We Respect the privacy of user. We never store passwords on your behalf. <strong>We will never post or message your friends</strong>.</span>
                    </p>
                </div>

                <div class="demo-card-square mdl-card mdl-cell mdl-cell--6-col-desktop mdl-cell--1-offset-tablet mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                    {{ content }}
                </div>
            </div>
        </div>

        {% include settings/alert.html %}
        {% include apps/popup.html %}
        {% include apps/modal.html %}
    </main>
</div>

<?php
$nav_links = array(
    // 'people/start'     => array('name' => 'Get Started'),
    'people/find'      => array('name' => 'Find People',
        'nav_links' => array(
            'people/find/actor' => array('name' => 'Following'),
            'people/find/email' => array('name' => 'Contacts'),
        ),
    ),
    'people/invite'    => array('name' => 'Invite'),
);
?>

<div class="col-sm-4">
    <?php // $this->view('utility/nav_side', array('nav_links' => $nav_links)); ?>
</div>

<div class="col-sm-8">
    <h1><?php echo $page_title; ?></h1>

    <div class="settings">
    <?php
    if (!empty($this->session->flashdata('alert')))
    {
        $alert = $this->session->flashdata('alert');
    }

    if (!empty($alert))
    {
        ?>
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <?php echo $alert; ?>
        </div>
        <?php
    }
    ?>
    
    <?php echo $main_content; ?>
    </div>

</div>