---
layout: default
---

<div class="demo-layout-page mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-color--white">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--white">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">
                <a href="{{ site.url }}/">
                    <img src="/assets/images/logotype.svg" height=25 alt="Rime">
                </a>
            </span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                
                {% if site.data.session %}
                <a class="mdl-navigation__link" href="/@{{ site.data.session.username }}">
                    <img class="bg-cover img-circle"
                        style="background-image: url({{ site.url }}/{{ site.data.session.avatar }})"
                        height="39px"
                        src="/assets/images/blank.png"
                        alt="{{ site.data.session.username }}">
                </a>
                {% else %}
                <a class="mdl-navigation__link" href="{{ site.url }}/auth/sign-in">
                    <span class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        Sign in
                    </span>
                </a>
                {% endif %}
                
            </nav>
        </div>
    </header>
    
    <main class="mdl-layout__content">
        <div class="page-content">

            <!-- Your content goes here -->

            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--2-offset-desktop mdl-cell--8-col-desktop mdl-cell--1-offset-tablet mdl-cell--6-col-tablet mdl-cell--4-col-phone">

                    {% assign page = page.url %}
                    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                      <div class="mdl-tabs__tab-bar">
                          <a href="{{ site.url }}/press" class="mdl-tabs__tab {% if page == '/press/index' %} is-active {% endif %}">Press</a>
                          <a href="{{ site.url }}/press/brand" class="mdl-tabs__tab {% if page == '/press/brand' %} is-active {% endif %}">Brand</a>
                          <a href="{{ site.url }}/press/timeline" class="mdl-tabs__tab {% if page == '/press/timeline' %} is-active {% endif %}">Timeline</a>
                      </div>

                    {{content}}
                </div>
            </div>
        </div>

        {% include footer.html %}
    </main>
</div>
