---
layout: default
---

<!-- Simple header with scrollable tabs. -->
<div class="demo-layout-settings mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-color--grey-200">
    <header class="mdl-layout__header mdl-color--white">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Settings</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                <!-- <a class="mdl-navigation__link" href="/@{{ site.data.logged_in_user.username }}">
                    <img class="bg-cover img-circle"
                        style="background-image: url({{ site.url }}/{{ site.data.logged_in_user.avatar }})"
                        height="39px"
                        src="{{ site.url }}/assets/images/blank.png"
                        alt="{{ site.data.logged_in_user.username }}">
                </a> -->
                <a id="exit_to_app" class="mdl-navigation__link" href="{{ site.url }}/auth/sign-out">
                    <i class="material-icons">exit_to_app</i>
                </a>
            </nav>
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--white">
            {% for nav in site.data.settings_nav_tabs %}

            {% assign is_active = '' %}
            {% if page.url == nav.url %}
            {% assign is_active = 'is-active' %}
            {% endif %}

            <a href="{{ site.url }}{{ nav.url }}" class="mdl-layout__tab {{ is_active }}">
                {{ nav.name }}
            </a>
            {% endfor %}
        </div>
    </header>
    <div class="mdl-layout__drawer mdl-color--white">
        <span class="mdl-layout-title">
            <!-- Title -->
            <a href="{{ site.url }}">
                <img src="{{ site.url }}/assets/images/logotype.svg" height=25 alt="Rime">
            </a>
        </span>
        <nav class="mdl-navigation">
            {% for nav in site.data.nav_links %}
            <a class="mdl-navigation__link" href="{{ site.url }}{{ nav.url }}">

                {% if nav.badge == nil %}
                {{ nav.title }}
                {% else %}
                <span class="mdl-badge" data-badge="{{ nav.badge }}">{{ nav.title }}</span>
                {% endif %}

            </a>
            {% endfor %}
        </nav>
    </div>
    <main class="mdl-layout__content">

        <div class="mdl-grid">
            <div class="mdl-card mdl-cell mdl-cell--1-offset-desktop mdl-cell--5-col-desktop mdl-cell--1-offset-tablet mdl-cell--5-col-tablet mdl-cell--4-col-phone">

                <section class="mdl-layout__tab-panel is-active" id="scroll-tab-0">
                    <div class="page-content">
                        <!-- Your content goes here -->
                        <div class="mdl-card__supporting-text">{{ content }}</div>
                    </div>
                </section>

            </div>

            <div class="mdl-cell mdl-cell--1-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <br>
            </div>

            <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--1-offset-tablet mdl-cell--5-col-tablet mdl-cell--4-col-phone">

                <ul class="mdl-mini-footer__link-list flex-flow-row-wrap mdl-color-text--grey-600">
                    
                    {% for nav in site.data.settings_footer_nav %}
                    <li><a class="link-light-inverse" href="{{ nav.url }}" {{ nav.attr }}>
                        {{ nav.title }}
                    </a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

         {% include settings/alert.html %}
    </main>
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="info_outline">
    Check the <br>
    Notification Center <i class="material-icons md-18">notifications</i>
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="exit_to_app">Exit</div>