---
layout: default
---

<div class="demo-layout-service mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-color--grey-200">
    <header class="mdl-layout__header mdl-color--white">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">{{ page.title }}</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            {% include nav.html %}
        </div>
    </header>
    
    {% include nav_drawer.html %}
    
    <main class="mdl-layout__content">
        <div class="page-content">

            <!-- Your content goes here -->

            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--1-offset-desktop mdl-cell--4-col-desktop mdl-cell--1-offset-tablet mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                    <h1 class="mdl-typography--font-light mdl-color-text--grey-600">Analytics</h1>

                    <p class="mdl-color-text--grey-600">
                        The tools you need to better understand your customers. You can then use those business insights to take action, such as improving your website, creating tailored audience lists, and more.
                    </p>
                </div>

                {{ content }}

            </div>
        </div>
    </main>
</div>

{% include scripts.html %}

{% include nav_tooltips.html %}