---
layout: default
---

{% assign req_user = site.data.users[ 0 ] %}

<div class="demo-layout-user mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-color--grey-200">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--grey-200">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">
                <a href="{{ site.url }}/dashboard">
                    <img src="{{ site.url }}/assets/images/logotype.svg" height=25 alt="Rime">
                </a>
            </span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                <a id="palette" class="mdl-navigation__link" href="{{ site.url }}/customize">
                    <i class="material-icons">palette</i>
                </a>
            </nav>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="page-content">

            <!-- Your content goes here -->

            <div class="mdl-grid">
                <!-- <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--2-col-tablet"></div> -->

                <div class="mdl-cell mdl-cell--4-offset-desktop mdl-cell--4-col-desktop mdl-cell--2-offset-tablet mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                    <div class="mdl-grid mdl-grid--no-spacing">
                        <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                            <div class="mdl-card__media">
                                <img src="{{ site.url }}/assets/images/blank.png" class="bg-cover" style="background-image: url({{ site.url }}/{{ req_user.avatar }})" width="100%">
                            </div>

                            <div class="mdl-card__supporting-text">
                                <h1 class="mdl-card__title-text">
                                    {{ req_user.name }}

                                    {% if req_user.verified %}
                                    <small>
                                        <i id="verified" class="material-icons md-text mdl-color-text--accent">star</i>
                                    </small>
                                    {% endif %}
                                    
                                </h1>

                                <p style="-webkit-margin-before: 0.5em; -webkit-margin-after: 0em;">
                                    {{ req_user.bio }}
                                </p>
                            </div>

                            <div class="mdl-card__actions mdl-card--border">
                                <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="https://{{ req_user.domain }}" target="_blank">
                                    {{ req_user.domain | remove: "https://www." }}
                                    &nbsp; <i class="material-icons">open_in_new</i>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="palette">Customize</div>
<div class="mdl-tooltip mdl-tooltip--large" for="feedback">Report Abuse</div>
<div class="mdl-tooltip mdl-tooltip--large" for="verified">Verified</div>